VITE_SUPABASE_URL=https://wyhpcfjtmtitorinkevj.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_Mhngg1gf4z4dkj-xh5TsMg_Pz3crwfo
VITE_ALLOWED_GITHUB_LOGIN=walihome
VITE_ALLOWED_SUPABASE_USER_ID=
